:root {
  --primary: #73552a;
  --primary3: #8b714b;
  --primary2: #b5a288;
  --secondary: #fcedd6;
  --black: #000;
}

.bg-main {
  background: linear-gradient(1200deg, var(--primary) 65%, var(--secondary) 65%);
  height: 100vh;
}

.polaroid{
  width: 30%;
}

.two{
  display:none; 
  transform: rotate(25deg);
}
